#multy-button {
    -fx-background-image: url("../images/menuGame/multyButton.png");
        -fx-background-repeat: stretch;
        -fx-background-position: center center;
        -fx-effect: dropshadow(three-pass-box, black, 10, 0.5, 0, 0);
}

#multy-button:pressed{
-fx-background-image: url("../images/menuGame/multyButtonPressed.png");
        -fx-background-repeat: stretch;
        -fx-background-position: center center;
        -fx-effect: dropshadow(three-pass-box, black, 10, 0.5, 0, 0);
}

#single-button {
    -fx-background-image: url("../images/menuGame/singleButton.png");
        -fx-background-repeat: stretch;
        -fx-background-position: center center;
        -fx-effect: dropshadow(three-pass-box, black, 10, 0.5, 0, 0);
}

#single-button:pressed{
-fx-background-image: url("../images/menuGame/singleButtonPressed.png");
        -fx-background-repeat: stretch;
        -fx-background-position: center center;
        -fx-effect: dropshadow(three-pass-box, black, 10, 0.5, 0, 0);
}

#exit-button {
    -fx-background-image: url("../images/menuGame/exitButton.png");
        -fx-background-repeat: stretch;
        -fx-background-position: center center;
        -fx-effect: dropshadow(three-pass-box, black, 10, 0.5, 0, 0);
}

#exit-button:pressed{
-fx-background-image: url("../images/menuGame/exitButtonPressed.png");
        -fx-background-repeat: stretch;
        -fx-background-position: center center;
        -fx-effect: dropshadow(three-pass-box, black, 10, 0.5, 0, 0);
}


