
#multy-button {
    -fx-background-image: url("../images/menuGame/multyButton.png");

}

#multy-button:pressed {
    -fx-background-image: url("../images/menuGame/multyButtonPressed.png");

}

#single-button {
    -fx-background-image: url("../images/menuGame/singleButton.png");
}

#single-button:pressed {
    -fx-background-image: url("../images/menuGame/singleButtonPressed.png");
}

#exit-button {
    -fx-background-image: url("../images/menuGame/exitButton.png");

}

#exit-button:pressed {
    -fx-background-image: url("../images/menuGame/exitButtonPressed.png");

}

#exit-button:pressed, #single-button:pressed, #multy-button:pressed {
    -fx-background-size: contain;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0.5, 0, 0);
}

#multy-button:hover, #exit-button:hover, #single-button:hover {
    -fx-border-color: rgba(83, 42, 19, 0.5);
    -fx-border-width: 2px;
    -fx-border-insets: -5px;
    -fx-border-radius: 10;
}


#single-button, #exit-button, #multy-button {
    -fx-background-size: contain;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0.5, 0, 0);
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

