
#multy-button {
    -fx-background-image: url("../images/menuGame/multyButton.png");

}

#multy-button:pressed {
    -fx-background-image: url("../images/menuGame/multyButtonPressed.png");

}

#button-accept {
    -fx-background-image: url("../images/menuGame/connectButton.png");
}

#button-accept:pressed {
    -fx-background-image: url("../images/menuGame/connectButtonPressed.png");
}

#button-back {
    -fx-background-image: url("../images/menuGame/backButton.png");
}

#button-back:pressed {
    -fx-background-image: url("../images/menuGame/backButtonPressed.png");
}

#button-create {
    -fx-background-image: url("../images/menuGame/createButton.png");
}

#button-create:pressed {
    -fx-background-image: url("../images/menuGame/createButtonPressed.png");
}

#button-disconnect {
    -fx-background-image: url("../images/menuGame/disconnectButton.png");
}

#button-disconnect:pressed {
    -fx-background-image: url("../images/menuGame/disconnectButtonPressed.png");
}
#button-start{
    -fx-background-image: url("../images/menuGame/startButton.png");
}
#button-start:pressed{
    -fx-background-image: url("../images/menuGame/startButtonPressed.png");
}
#single-button {
    -fx-background-image: url("../images/menuGame/singleButton.png");
}

#single-button:pressed {
    -fx-background-image: url("../images/menuGame/singleButtonPressed.png");
}

#exit-button {
    -fx-background-image: url("../images/menuGame/exitButton.png");

}

#exit-button:pressed {
    -fx-background-image: url("../images/menuGame/exitButtonPressed.png");

}

#field {
    -fx-background-image: url("../images/menuGame/textField.png");
}

#exit-button:pressed, #single-button:pressed, #multy-button:pressed, #button-accept:pressed, #button-back:pressed, #button-start:pressed, #button-create:pressed, #button-disconnect:pressed {
    -fx-background-size: contain;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0.5, 0, 0);
}

#multy-button:hover, #exit-button:hover, #single-button:hover, #button-accept:hover, #button-back:hover,#button-start:hover, #button-create:hover, #button-disconnect:hover {
    -fx-border-color: rgba(83, 42, 19, 0.5);
    -fx-border-width: 2px;
    -fx-border-insets: -5px;
    -fx-border-radius: 10;
}

#single-button, #exit-button, #multy-button, #button-accept, #button-back, #button-start, #button-create, #button-disconnect{
    -fx-background-size: contain;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0.5, 0, 0);
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

#field {
    -fx-background-size: contain;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0.5, 0, 0);
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-repeat: stretch;
    -fx-text-fill: white;
}
.progress-indicator{
    -fx-progress-color: orange ;
}
.progress-indicator .progress{
    -fx-border-color: orangered;
}
.progress-indicator .indicator{
    -fx-background-color: #32241B;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0.5, 0, 0);
    -fx-border-color: black;
}
.progress-indicator:hover .indicator{
    -fx-border-color: rgba(83, 42, 19, 0.5);
    -fx-border-width: 2px;
    -fx-border-radius: 10;
}

.progress-indicator .percentage{
-fx-fill: transparent;
}

