#multy-button {
    -fx-background-image: url("images/multyButton.png");
        -fx-background-repeat: stretch;
        -fx-background-position: center center;
        -fx-effect: dropshadow(three-pass-box, black, 10, 0.5, 0, 0);
}

#multy-button:pressed{
-fx-background-image: url("images/multyButtonPressed.png");
        -fx-background-repeat: stretch;
        -fx-background-position: center center;
        -fx-effect: dropshadow(three-pass-box, black, 10, 0.5, 0, 0);
}

#single-button {
    -fx-background-image: url("images/singleButton.png");
        -fx-background-repeat: stretch;
        -fx-background-position: center center;
        -fx-effect: dropshadow(three-pass-box, black, 10, 0.5, 0, 0);
}

#single-button:pressed{
-fx-background-image: url("images/singleButtonPressed.png");
        -fx-background-repeat: stretch;
        -fx-background-position: center center;
        -fx-effect: dropshadow(three-pass-box, black, 10, 0.5, 0, 0);
}

#exit-button {
    -fx-background-image: url("images/exitButton.png");
        -fx-background-repeat: stretch;
        -fx-background-position: center center;
        -fx-effect: dropshadow(three-pass-box, black, 10, 0.5, 0, 0);
}

#exit-button:pressed{
-fx-background-image: url("images/exitButtonPressed.png");
        -fx-background-repeat: stretch;
        -fx-background-position: center center;
        -fx-effect: dropshadow(three-pass-box, black, 10, 0.5, 0, 0);
}


