.text-field:disabled {

-fx-opacity: 1.0;
-fx-background-color: #a9a9a9 ,#DCDCDC ,#DCDCDC;

}

.choice-box .label:disabled,.choice-box:disabled
{

-fx-background-color: #a9a9a9 ,#DCDCDC ,#DCDCDC;
-fx-opacity: 1.0;

}
